# Topic ideas

---

Group name: Group C - Burcin Aksel & Nico Henzel

---

## Name of topic idea 1

Influence of median household income by state on leading causes of death in the U.S. from 2013-2017

### Data source

The data is used from the **U.S. department of Health and Human Services**
* https://catalog.data.gov/dataset/nchs-leading-causes-of-death-united-states
As well as the **National Center for Education Statistics**
* https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp

**Collection of the first dataset:**

*Data are based on information from all resident death certificates filed in the 50 states of the U.S. and the District of Columbia using demographic and medical characteristics. Age-adjusted death rates (per 100,000 population) are based on the 2000 U.S. standard population. Populations used for computing death rates after 2010 are postcensal estimates based on the 2010 census, estimated as of July 1, 2010.
Causes of death are classified by the International Classification of Diseases, Tenth Revision (ICD–10) are ranked according to the number of deaths assigned to rankable causes. Cause of death statistics are based on the underlying cause of death* (see: https://catalog.data.gov/dataset/nchs-leading-causes-of-death-united-states)

**Collection of the second dataset:**

The table was prepared May 2019. It is originally a mix of the American Cencus and the American Community Survey (ACS)
*SOURCE: U.S. Department of Commerce, Census Bureau, 1990 Summary Tape File 3 (STF 3), "Median Household Income in 1989," retrieved May 12, 2005, from https://www.census.gov/hhes/www/income/data/historical/state/state1.html; Decennial Census, 2000, Summary Social, Economic, and Housing Characteristics; Census 2000 Summary File 4 (SF 4), retrieved March 28, 2005, from https://www.census.gov/census2000/SF4.html; and American Community Survey (ACS), selected years, 2005 through 2017, retrieved May 3, 2019, from https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t.* (see: https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp)


### Data characterisitcs

See data source for an explanation of the first dataset.

The second dataset shows the median household income by state for the years 1990, 2000, 2005, 2010 and 2013-2017.
The dollar values are adjusted to fit the value of the 2017 dollar by using the *Consumer Price Index research series using current methods (CPI-U-RS)* (see: https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp)

The datasets will be joined together so that we will be able to model a connection between the median household income and death rates by state (divided into death cause).

### Research question

Does the household income have an impact on the deathrates in the U.S. and if yes, how big is it?

The predictor variable will be the median household income by state and the response variable will be the death rate by state (divided into 10 leading causes of death from 2013 to 2017).

This question is backed by the following studies:
* KINGE, Jonas Minet, et al. Association of household income with life expectancy and cause-specific mortality in Norway, 2005-2015. Jama, 2019, 321. Jg., Nr. 19, S. 1916-1925. (https://jamanetwork.com/journals/jama/article-abstract/2733322)
* KAPLAN, George A., et al. Inequality in income and mortality in the United States: analysis of mortality and potential pathways. Bmj, 1996, 312. Jg., Nr. 7037, S. 999-1003. (https://www.bmj.com/content/312/7037/999.full)
* O’CONNOR, Gerald T., et al. Median household income and mortality rate in cystic fibrosis. Pediatrics, 2003, 111. Jg., Nr. 4, S. e333-e339. (https://publications.aap.org/pediatrics/article-abstract/111/4/e333/63113/Median-Household-Income-and-Mortality-Rate-in)

Added information on mortality rate:
*Mortality is a fact that refers to susceptibility to death. While there is a crude death rate that refers to number of deaths in a population in a year, mortality rate is the number of deaths per thousand people over a period of time that is normally a year.* (see: https://www.differencebetween.com/difference-between-death-rate-and-vs-mortality-rate/)

### Overview of data

In [2]:
import pandas as pd

In [1]:
raw_data = '..\\data\\raw\\'
income_file = 'Median_Household_Income_By_State_1990-2017.csv'
death_file = 'NCHS_-_Leading_Causes_of_Death__United_States.csv'

df_income = pd.read_csv(raw_data+income_file)
df_death = pd.read_csv(raw_data+death_file)

NameError: name 'pd' is not defined

In [7]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 32 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Table 102.30. Median household income, by state: Selected years, 1990 through 2017  59 non-null     object
 1   Unnamed: 1                                                                          54 non-null     object
 2   Unnamed: 2                                                                          54 non-null     object
 3   Unnamed: 3                                                                          54 non-null     float64
 4   Unnamed: 4                                                                          52 non-null     float64
 5   Unnamed: 5                                                                          54 non-null     float64
 6   Unnamed: 6                                                                          52 non-null     float64
 7   Unnamed: 7                                                                          54 non-null     float64
 8   Unnamed: 8                                                                          52 non-null     float64
 9   Unnamed: 9                                                                          54 non-null     float64
 10  Unnamed: 10                                                                         52 non-null     float64
 11  Unnamed: 11                                                                         54 non-null     float64
 12  Unnamed: 12                                                                         52 non-null     float64
 13  Unnamed: 13                                                                         54 non-null     float64
 14  Unnamed: 14                                                                         52 non-null     float64
 15  Unnamed: 15                                                                         54 non-null     float64
 16  Unnamed: 16                                                                         52 non-null     float64
 17  Unnamed: 17                                                                         0 non-null      float64
 18  Unnamed: 18                                                                         0 non-null      float64
 19  Unnamed: 19                                                                         0 non-null      float64
 20  Unnamed: 20                                                                         0 non-null      float64
 21  Unnamed: 21                                                                         0 non-null      float64
 22  Unnamed: 22                                                                         0 non-null      float64
 23  Unnamed: 23                                                                         0 non-null      float64
 24  Unnamed: 24                                                                         0 non-null      float64
 25  Unnamed: 25                                                                         0 non-null      float64
 26  Unnamed: 26                                                                         0 non-null      float64
 27  Unnamed: 27                                                                         0 non-null      float64
 28  Unnamed: 28                                                                         0 non-null      float64
 29  Unnamed: 29                                                                         0 non-null      float64
 30  Unnamed: 30                                                                         0 non-null      float64
 31  Unnamed: 31                                                                         1 non-null      object
dtypes: float64(28), object(4)
memory usage: 17.1+ KB

In [6]:
df_income

,"Table 102.30. Median household income, by state: Selected years, 1990 through 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,[In constant 2017 dollars. Standard errors app...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,1990\1\,2000\2\,2005.0,NaN,2010.0,NaN,2013.0,NaN,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4.0,NaN,5.0,NaN,6.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,United States ...........,57500,62000,58200.0,80.0,56400.0,40.0,55100.0,40.0,55600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama ....................,45200,50400,46400.0,400.0,45600.0,320.0,45200.0,410.0,44400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Wyoming ..................,51900,55900,58100.0,1160.0,60300.0,1300.0,61900.0,1150.0,59100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,\1\Based on 1989 incomes collected in the 1990...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,\2\Based on 1999 incomes collected in the 2000...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: Constant dollars adjusted by the Consume...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"SOURCE: U.S. Department of Commerce, Census Bu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_death.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10868 non-null  int64
 1   113 Cause Name           10868 non-null  object
 2   Cause Name               10868 non-null  object
 3   State                    10868 non-null  object
 4   Deaths                   10868 non-null  int64
 5   Age-adjusted Death Rate  10868 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 509.6+ KB

In [9]:
df_death

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8
...,...,...,...,...,...,...
10863,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,1035,16.9
10864,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

### First Interpretation

The first overview shows the following:

* The income dataset needs to be cleaned and corrected in order to be joined with the death dataset
* The join can be done by state, the missing income values for the years not represented in the income dataset need to either be dropped or replaced

## Name of topic idea 2

## Influence of net income per person in europe to the birth rate

### Data source

The datasets are from **eurostat**
* https://ec.europa.eu/eurostat/databrowser/view/tps00204/default/table?lang=en

* https://ec.europa.eu/eurostat/databrowser/view/sdg_10_20/default/table?lang=de

**Collection of the first dataset:**

The datasets shows the live births and crude birth rate. Live births are the births of children that showed any sign of life. The crude birth rate is the ratio of the number of live births during the year to the average population in that year. The value is expressed per 1 000 persons. Relevant years 2010-2021

**Collection of the second dataset:**

The table reflects the purchasing power of private households and their ability to invest in goods and services or in the future. Relevant years 2010-2021

### Data characterisitcs

The first dataset: see above


The second dataset: The indicator reflects the purchasing power of households and their ability to invest in goods and services or save for the future, by accounting for taxes and social contributions and monetary in-kind social benefits. It is calculated as the adjusted gross disposable income of households and Non-Profit Institutions Serving Households (NPISH) divided by the purchasing power parities (PPP) of the actual individual consumption of households and by the total resident population.

### Research question

Is there a relation between the income people have and the birth rate?
The predictor variable will be the per person income and the response variable will be the birth rate.



### Overview of data

*Use the Pandas functions to provide an overview of the data set*