# Topic ideas

---

Group name: Group C - Burcin Aksel & Nico Henzel

---

## Name of topic idea 1

Influence of median household income by state on leading causes of death in the U.S. from 2013-2017

### Data source

The data is used from the **U.S. department of Health and Human Services**
* https://catalog.data.gov/dataset/nchs-leading-causes-of-death-united-states

As well as the **National Center for Education Statistics**
* https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp

**Collection of the first dataset:**

*Data are based on information from all resident death certificates filed in the 50 states of the U.S. and the District of Columbia using demographic and medical characteristics. Age-adjusted death rates (per 100,000 population) are based on the 2000 U.S. standard population. Populations used for computing death rates after 2010 are postcensal estimates based on the 2010 census, estimated as of July 1, 2010.
Causes of death are classified by the International Classification of Diseases, Tenth Revision (ICD–10) are ranked according to the number of deaths assigned to rankable causes. Cause of death statistics are based on the underlying cause of death* (see: https://catalog.data.gov/dataset/nchs-leading-causes-of-death-united-states)

**Collection of the second dataset:**

The table was prepared May 2019. It is originally a mix of the American Cencus and the American Community Survey (ACS)
*SOURCE: U.S. Department of Commerce, Census Bureau, 1990 Summary Tape File 3 (STF 3), "Median Household Income in 1989," retrieved May 12, 2005, from https://www.census.gov/hhes/www/income/data/historical/state/state1.html; Decennial Census, 2000, Summary Social, Economic, and Housing Characteristics; Census 2000 Summary File 4 (SF 4), retrieved March 28, 2005, from https://www.census.gov/census2000/SF4.html; and American Community Survey (ACS), selected years, 2005 through 2017, retrieved May 3, 2019, from https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t.* (see: https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp)


### Data characteristics

See data source for an explanation of the first dataset.

The second dataset shows the median household income by state for the years 1990, 2000, 2005, 2010 and 2013-2017.
The dollar values are adjusted to fit the value of the 2017 dollar by using the *Consumer Price Index research series using current methods (CPI-U-RS)* (see: https://nces.ed.gov/programs/digest/d18/tables/dt18_102.30.asp)

The datasets will be joined together so that we will be able to model a connection between the median household income and death rates by state (divided into death cause).

### Research question

Does the household income have an impact on the deathrates in the U.S. and if yes, how big is it?

The predictor variable will be the median household income by state and the response variable will be the death rate by state (divided into 10 leading causes of death from 2013 to 2017).

This question is backed by the following studies:
* KINGE, Jonas Minet, et al. Association of household income with life expectancy and cause-specific mortality in Norway, 2005-2015. Jama, 2019, 321. Jg., Nr. 19, S. 1916-1925. (https://jamanetwork.com/journals/jama/article-abstract/2733322)
* KAPLAN, George A., et al. Inequality in income and mortality in the United States: analysis of mortality and potential pathways. Bmj, 1996, 312. Jg., Nr. 7037, S. 999-1003. (https://www.bmj.com/content/312/7037/999.full)
* O’CONNOR, Gerald T., et al. Median household income and mortality rate in cystic fibrosis. Pediatrics, 2003, 111. Jg., Nr. 4, S. e333-e339. (https://publications.aap.org/pediatrics/article-abstract/111/4/e333/63113/Median-Household-Income-and-Mortality-Rate-in)

Added information on mortality rate:
*Mortality is a fact that refers to susceptibility to death. While there is a crude death rate that refers to number of deaths in a population in a year, mortality rate is the number of deaths per thousand people over a period of time that is normally a year.* (see: https://www.differencebetween.com/difference-between-death-rate-and-vs-mortality-rate/)

### Overview of data

In [4]:
import pandas as pd

In [10]:
raw_data = '..\\data\\raw\\'
file_income_top1 = 'Median_Household_Income_By_State_1990-2017.csv'
file_death_top1 = 'NCHS_-_Leading_Causes_of_Death__United_States.csv'

df_income_top1 = pd.read_csv(raw_data+file_income_top1)
df_death_top1 = pd.read_csv(raw_data+file_death_top1)

In [6]:
df_income_top1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 32 columns):
 #   Column                                                                              Non-Null Count  Dtype
---  ------                                                                              --------------  -----
 0   Table 102.30. Median household income, by state: Selected years, 1990 through 2017  59 non-null     object
 1   Unnamed: 1                                                                          54 non-null     object
 2   Unnamed: 2                                                                          54 non-null     object
 3   Unnamed: 3                                                                          54 non-null     float64
 4   Unnamed: 4                                                                          52 non-null     float64
 5   Unnamed: 5                                                                          54 non-null     float64
 6   Unnamed: 6                                                                          52 non-null     float64
 7   Unnamed: 7                                                                          54 non-null     float64
 8   Unnamed: 8                                                                          52 non-null     float64
 9   Unnamed: 9                                                                          54 non-null     float64
 10  Unnamed: 10                                                                         52 non-null     float64
 11  Unnamed: 11                                                                         54 non-null     float64
 12  Unnamed: 12                                                                         52 non-null     float64
 13  Unnamed: 13                                                                         54 non-null     float64
 14  Unnamed: 14                                                                         52 non-null     float64
 15  Unnamed: 15                                                                         54 non-null     float64
 16  Unnamed: 16                                                                         52 non-null     float64
 17  Unnamed: 17                                                                         0 non-null      float64
 18  Unnamed: 18                                                                         0 non-null      float64
 19  Unnamed: 19                                                                         0 non-null      float64
 20  Unnamed: 20                                                                         0 non-null      float64
 21  Unnamed: 21                                                                         0 non-null      float64
 22  Unnamed: 22                                                                         0 non-null      float64
 23  Unnamed: 23                                                                         0 non-null      float64
 24  Unnamed: 24                                                                         0 non-null      float64
 25  Unnamed: 25                                                                         0 non-null      float64
 26  Unnamed: 26                                                                         0 non-null      float64
 27  Unnamed: 27                                                                         0 non-null      float64
 28  Unnamed: 28                                                                         0 non-null      float64
 29  Unnamed: 29                                                                         0 non-null      float64
 30  Unnamed: 30                                                                         0 non-null      float64
 31  Unnamed: 31                                                                         1 non-null      object
dtypes: float64(28), object(4)
memory usage: 17.1+ KB

In [7]:
df_income_top1

,"Table 102.30. Median household income, by state: Selected years, 1990 through 2017",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,[In constant 2017 dollars. Standard errors app...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,1990\1\,2000\2\,2005.0,NaN,2010.0,NaN,2013.0,NaN,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,3,4.0,NaN,5.0,NaN,6.0,NaN,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,United States ...........,57500,62000,58200.0,80.0,56400.0,40.0,55100.0,40.0,55600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama ....................,45200,50400,46400.0,400.0,45600.0,320.0,45200.0,410.0,44400.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Wyoming ..................,51900,55900,58100.0,1160.0,60300.0,1300.0,61900.0,1150.0,59100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,\1\Based on 1989 incomes collected in the 1990...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,\2\Based on 1999 incomes collected in the 2000...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NOTE: Constant dollars adjusted by the Consume...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,"SOURCE: U.S. Department of Commerce, Census Bu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_death_top1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10868 entries, 0 to 10867
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10868 non-null  int64
 1   113 Cause Name           10868 non-null  object
 2   Cause Name               10868 non-null  object
 3   State                    10868 non-null  object
 4   Deaths                   10868 non-null  int64
 5   Age-adjusted Death Rate  10868 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 509.6+ KB

In [9]:
df_death_top1

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8
...,...,...,...,...,...,...
10863,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,1035,16.9
10864,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

### First Interpretation

The first overview shows the following:

* The income dataset needs to be cleaned and corrected in order to be joined with the death dataset
* The columns for the income dataset need to be transformed in order to have the same format as the death dataset.
* The join can be done by state, the missing income values for the years not represented in the income dataset need to either be dropped or replaced

## Name of topic idea 2

Influence of net income per person in europe to the birth rate

### Data source

The datasets are from **eurostat**
* https://ec.europa.eu/eurostat/databrowser/view/tps00204/default/table?lang=en

* https://ec.europa.eu/eurostat/databrowser/view/sdg_10_20/default/table?lang=de

**Collection of the first dataset:**

The datasets shows the live births and crude birth rate. Live births are the births of children that showed any sign of life. The crude birth rate is the ratio of the number of live births during the year to the average population in that year. The value is expressed per 1 000 persons. Relevant years 2010-2021

**Collection of the second dataset:**

The table reflects the purchasing power of private households and their ability to invest in goods and services or in the future. Relevant years 2010-2021

### Data characteristics

The first dataset: see above


The second dataset: The indicator reflects the purchasing power of households and their ability to invest in goods and services or save for the future, by accounting for taxes and social contributions and monetary in-kind social benefits. It is calculated as the adjusted gross disposable income of households and Non-Profit Institutions Serving Households (NPISH) divided by the purchasing power parities (PPP) of the actual individual consumption of households and by the total resident population.

### Research question

Is there a relation between the income people have and the birth rate?
The predictor variable will be the per person income and the response variable will be the birth rate.



### Overview of data

In [3]:
import pandas as pd

In [11]:
raw_data = '..\\data\\raw\\'
file_income_top2 = 'sdg_10_20_spreadsheet.csv'
file_birth_top2 = 'tps00204_page_spreadsheet.csv'

df_income_top2 = pd.read_csv(raw_data+file_income_top2)
df_birth_top2 = pd.read_csv(raw_data+file_birth_top2)

In [12]:
df_income_top2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 45 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Daten abgefragt am 28/11/2022 21:22:41 von [ESTAT]  46 non-null     object
 1   Unnamed: 1                                          41 non-null     object
 2   Unnamed: 2                                          2 non-null      object
 3   Unnamed: 3                                          36 non-null     object
 4   Unnamed: 4                                          0 non-null      float64
 5   Unnamed: 5                                          36 non-null     object
 6   Unnamed: 6                                          0 non-null      float64
 7   Unnamed: 7                                          36 non-null     object
 8   Unnamed: 8                                          0 non-null      float64
 9   Unnamed: 9                                          36 non-null     object
 10  Unnamed: 10                                         0 non-null      float64
 11  Unnamed: 11                                         36 non-null     object
 12  Unnamed: 12                                         0 non-null      float64
 13  Unnamed: 13                                         36 non-null     object
 14  Unnamed: 14                                         0 non-null      float64
 15  Unnamed: 15                                         36 non-null     object
 16  Unnamed: 16                                         0 non-null      float64
 17  Unnamed: 17                                         36 non-null     object
 18  Unnamed: 18                                         1 non-null      object
 19  Unnamed: 19                                         36 non-null     object
 20  Unnamed: 20                                         0 non-null      float64
 21  Unnamed: 21                                         36 non-null     object
 22  Unnamed: 22                                         1 non-null      object
 23  Unnamed: 23                                         36 non-null     object
 24  Unnamed: 24                                         0 non-null      float64
 25  Unnamed: 25                                         36 non-null     object
 26  Unnamed: 26                                         0 non-null      float64
 27  Unnamed: 27                                         36 non-null     object
 28  Unnamed: 28                                         0 non-null      float64
 29  Unnamed: 29                                         36 non-null     object
 30  Unnamed: 30                                         0 non-null      float64
 31  Unnamed: 31                                         36 non-null     object
 32  Unnamed: 32                                         1 non-null      object
 33  Unnamed: 33                                         36 non-null     object
 34  Unnamed: 34                                         1 non-null      object
 35  Unnamed: 35                                         36 non-null     object
 36  Unnamed: 36                                         1 non-null      object
 37  Unnamed: 37                                         36 non-null     object
 38  Unnamed: 38                                         1 non-null      object
 39  Unnamed: 39                                         36 non-null     object
 40  Unnamed: 40                                         5 non-null      object
 41  Unnamed: 41                                         36 non-null     object
 42  Unnamed: 42                                         9 non-null      object
 43  Unnamed: 43                                         36 non-null     object
 44  Unnamed: 44                                         12 non-null     object
dtypes: float64(12), object(33)
memory usage: 17.4+ KB

In [13]:
df_income_top2

,Daten abgefragt am 28/11/2022 21:22:41 von [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Datensatz:,Verfügbares Pro-Kopf-Einkommen der Haushalte [...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Letzte Änderung:,28/11/2022 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Zeitliche Frequenz,NaN,Jährlich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Maßeinheit,NaN,"Kaufkraftstandards (KKS, EU27 ab 2020) pro Ein...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,TIME,2000,NaN,2001,NaN,2002,NaN,2003,NaN,2004,...,2017,NaN,2018,NaN,2019,NaN,2020,NaN,2021,NaN
7,GEO (Beschriftungen),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Europäische Union - 27 Länder (ab 2020),13754,NaN,14524,NaN,14998,NaN,15435,NaN,15968,...,21337,NaN,22010,NaN,22738,NaN,23028,NaN,24243,NaN
9,Europäische Union - 28 Länder (2013-2020),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
10,Euroraum - 19 Länder (ab 2015),15846,NaN,16671,NaN,17128,NaN,17552,NaN,18072,...,22961,NaN,23613,NaN,24281,NaN,24466,NaN,25554,NaN
11,Belgien,17072,NaN,17746,NaN,18280,NaN,18555,NaN,18779,...,24487,NaN,25064,NaN,25934,NaN,26524,p,27726,p
12,Bulgarien,3868,NaN,4051,NaN,4586,NaN,4989,NaN,5240,...,10508,NaN,:,NaN,:,NaN,:,NaN,:,NaN
13,Tschechien,9409,NaN,10226,NaN,10423,NaN,11116,NaN,11533,...,17901,NaN,18673,NaN,19515,NaN,19468,NaN,20845,NaN
14,Dänemark,13949,NaN,14435,NaN,15187,NaN,15545,NaN,16192,...,23546,NaN,24213,NaN,24757,NaN,25022,NaN,25698,NaN
15,Deutschland (bis 1990 früheres Gebiet der BRD),17725,NaN,18539,NaN,18671,NaN,19550,NaN,20135,...,27652,NaN,28717,NaN,29037,p,29689,p,30468,p
16,Estland,5616,NaN,5915,NaN,6234,NaN,6891,NaN,7414,...,14428,NaN,15421,NaN,16089,NaN,16435,NaN,17576,NaN
17,Irland,13857,NaN,15247,NaN,15643,NaN,16443,NaN,17344,...,19900,NaN,20359,NaN,21192,NaN,21945,NaN,23433,NaN
18,Griechenland,12416,NaN,13372,NaN,14378,NaN,15183,NaN,15941,...,14554,NaN,14789,NaN,15624,p,15018,p,16343,p
19,Spanien,13341,NaN,14267,NaN,15021,NaN,15489,NaN,15947,...,19107,NaN,19353,NaN,20191,p,19678,p,20504,p
20,Frankreich,16770,NaN,17844,NaN,18581,NaN,18402,NaN,18779,...,24163,NaN,24609,NaN,25524,p,25926,p,27247,p
21,Kroatien,7530,NaN,7719,NaN,8280,NaN,8705,NaN,9135,...,13322,NaN,13935,NaN,14563,NaN,14690,NaN,16719,p
22,Italien,16771,NaN,17367,NaN,17673,NaN,18173,NaN,18513,...,21429,NaN,21950,NaN,22428,NaN,22229,NaN,23348,NaN
23,Zypern,12020,NaN,12493,NaN,12585,NaN,13531,NaN,14766,...,18782,NaN,19352,NaN,20693,NaN,20792,NaN,21545,p
24,Lettland,4905,NaN,5360,NaN,6010,NaN,6571,NaN,7294,...,14038,NaN,14829,NaN,15453,NaN,15875,NaN,17880,NaN
25,Litauen,5868,NaN,6269,NaN,6899,NaN,7817,NaN,8993,...,17226,NaN,18002,NaN,19455,NaN,20522,NaN,20999,NaN
26,Luxemburg,23352,NaN,24277,NaN,26259,NaN,26790,NaN,26705,...,32766,NaN,34034,NaN,34674,NaN,35274,NaN,36319,p
27,Ungarn,7430,NaN,8049,NaN,8696,NaN,9346,NaN,9905,...,13935,NaN,14986,NaN,15741,NaN,15760,p,17335,p
28,Malta,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
29,Niederlande,17583,NaN,18779,NaN,19466,NaN,19113,NaN,19752,...,24207,NaN,25294,NaN,26279,NaN,27108,p,28700,p
30,Österreich,18096,NaN,18038,NaN,18604,NaN,19575,NaN,20217,...,26041,NaN,26639,NaN,27352,NaN,26811,NaN,28252,NaN
31,Polen,7361,NaN,7804,NaN,8084,NaN,8301,NaN,8500,...,15541,NaN,16166,NaN,16933,NaN,17828,NaN,17940,NaN
32,Portugal,12553,NaN,12976,NaN,13254,NaN,13725,NaN,14109,...,17256,NaN,18172,NaN,18855,NaN,18506,NaN,19282,p
33,Rumänien,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
34,Slowenien,11337,NaN,11942,NaN,12575,NaN,12800,NaN,13328,...,17367,NaN,18234,NaN,19130,NaN,19772,NaN,21183,NaN
35,Slowakei,7156,NaN,7809,NaN,8292,NaN,8291,NaN,8836,...,14111,NaN,14784,NaN,15316,NaN,15242,NaN,15916,NaN
36,Finnland,13598,NaN,13779,NaN,14382,NaN,15031,NaN,16115,...,23501,NaN,24186,NaN,24696,NaN,24906,NaN,25823,NaN
37,Schweden,14679,NaN,15473,NaN,16094,NaN,16449,NaN,16880,...,23502,NaN,23829,NaN,24159,NaN,24524,NaN,25680,NaN
38,Island,13991,NaN,14265,NaN,15016,NaN,15879,NaN,17000,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
39,Norwegen,16111,NaN,16284,NaN,17728,NaN,18700,NaN,19648,...,27616,NaN,28215,NaN,28378,NaN,28305,NaN,30073,NaN
40,Schweiz,20122,NaN,20932,NaN,21123,NaN,21122,NaN,21747,...,28461,NaN,28731,NaN,29077,NaN,29882,p,30611,p
41,Vereinigtes Königreich,16231,NaN,17220,NaN,17759,NaN,18424,NaN,19641,...,23157,NaN,23669,NaN,24508,NaN,:,NaN,:,NaN
42,Serbien,:,NaN,:,NaN,:,NaN,:,NaN,:,...,8937,p,9884,p,10307,p,10443,p,:,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Spezial Zeichen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,:,nicht erhältlich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Erhältliche Flaggen:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,b,Zeitreihenbruch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,p,vorläufig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_birth_top2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Data extracted on 28/11/2022 20:56:17 from [ESTAT]  67 non-null     object
 1   Unnamed: 1                                          62 non-null     object
 2   Unnamed: 2                                          2 non-null      object
 3   Unnamed: 3                                          55 non-null     object
 4   Unnamed: 4                                          0 non-null      float64
 5   Unnamed: 5                                          55 non-null     object
 6   Unnamed: 6                                          0 non-null      float64
 7   Unnamed: 7                                          55 non-null     object
 8   Unnamed: 8                                          2 non-null      object
 9   Unnamed: 9                                          55 non-null     object
 10  Unnamed: 10                                         2 non-null      object
 11  Unnamed: 11                                         55 non-null     object
 12  Unnamed: 12                                         3 non-null      object
 13  Unnamed: 13                                         55 non-null     object
 14  Unnamed: 14                                         3 non-null      object
 15  Unnamed: 15                                         55 non-null     object
 16  Unnamed: 16                                         2 non-null      object
 17  Unnamed: 17                                         55 non-null     object
 18  Unnamed: 18                                         2 non-null      object
 19  Unnamed: 19                                         55 non-null     object
 20  Unnamed: 20                                         3 non-null      object
 21  Unnamed: 21                                         55 non-null     object
 22  Unnamed: 22                                         0 non-null      float64
 23  Unnamed: 23                                         55 non-null     object
 24  Unnamed: 24                                         12 non-null     object
dtypes: float64(3), object(22)
memory usage: 13.8+ KB

In [15]:
df_birth_top2

,Data extracted on 28/11/2022 20:56:17 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,Dataset:,Live births and crude birth rate [TPS00204],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,11/07/2022 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Demographic indicator,NaN,Live births - number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,ep,"estimated, provisional",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,be,"break in time series, estimated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### First Interpretation

The first overview shows the following:

* Both datasets need to be cleaned and corrected in order to be joined together - The columns year, income and birthrate need to be set and transformed
* The income dataset needs to be translated into english in order to be joined (at least the country names).
* The join can either be done by country or years.