# Draft analysis 

---

Group name: Grou C, Burcin Aksel & Nico Henzel

---

## Introduction

### Inhalte aus Project Proposal übernehmen und konsolidieren
### Burcin

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

### Anpassen, sobald Import benötigt wird
### Nico

In [3]:
import pandas as pd
import numpy as np
import altair as alt
import matplotlib as mlp

## Data

## Nico

### Inhalte aus Data Correction und Project Proposal übernehmen

## Import data

In [4]:
# Daten reinholen

raw_data = '..\\data\\raw\\'
file_income = 'Median_Household_Income_By_State_1990-2017.csv'
file_death = 'NCHS_-_Leading_Causes_of_Death__United_States.csv'

df_income = pd.read_csv(raw_data+file_income)
df_death = pd.read_csv(raw_data+file_death)

### Data structure

In [5]:
# Daten darstellen
df_income

                 state  year  median_household_income
0       United States   1990                  57500.0
1             Alabama   1990                  45200.0
2              Alaska   1990                  79300.0
3             Arizona   1990                  52700.0
4            Arkansas   1990                  40500.0
..                 ...   ...                      ...
463          Virginia   2017                  71500.0
464        Washington   2017                  71000.0
465     West Virginia   2017                  43500.0
466         Wisconsin   2017                  59300.0
467           Wyoming   2017                  60400.0

[468 rows x 3 columns]

In [6]:
df_death

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,169936,49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2703,53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4184,56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1625,51.8
...,...,...,...,...,...,...
10863,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,1035,16.9
10864,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

### Data corrections

In [ ]:
# Data preparation

### Variable lists
## Burcin

In [ ]:
# auf Fertigem Datensatz Variablen auflisten

### Data splitting

## Burcin

## Analysis

## Nico

Analysis Approach umsetzen

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

## Nico
### Kopieren aus Notebook 44 und Modeltypen passend zu proposal umsetzen

Abstimmung, welche Metriken und Erkenntnisse aus den Modellen für uns relevant sind

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions

Am Ende die weiteren Schritte und bisherigen Interprationen auflisten.